<div style="display:table;padding:256px;font-family:sans-serif;width:auto;margin:auto;">
  <div style="display:table-cell;background:url(/assets/derp.png) no-repeat right center;min-height:256px;vertical-align:middle;">
    <h1 style="font-size:4em;">Aw, Crap!</h1>
    <div style="margin:15px 15px 15px 0;">
      An awesome mistake has been caught
    </div>
    <div style="margin:15px 15px 15px 0;">
      <strong>Reason:</strong>&nbsp;<%= msg.html_safe %>
    </div>
  </div>
</div>